@model shiny.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpeicherOrt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpeicherOrt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verkauft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verkauft)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
